<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
 <title> BBS </title>
<link rel="stylesheet" href="static/css/bootstrap.min.css"/>
</head>  
<body>
<div class="container">
  <div class="row">
  <div class="col-xs-12 col-md-9">
   <div class="jumbot">
     <center>  <h2>python部落</h2> </center>
      </div>
       </div>
        </div>
        </div>


  <div class="row">

  <div class="col-xs-8 col-md-2">  
 <div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">运维专区</h3>

<span class="pull-right"><a href="artive">文章  </a></span>
</div>

<div class="panel-body">
<p>DevOps
</p>
</div>   
 
  <button type="button" calss="btn btn-success"> commit </button>                </div>
  <div class="col-xs-8 col-md-6">django</div>
  <div class="col-xs-12 col-md-2">Buluo buidling </div>

</div>
</div>
</body>
</html>
